---
layout: default
---

<h1>Next Seminars</h1>

<ul id='subpages'>
    <li class="pagenav"> 
      <ul>
        {% for post in site.categories.seminars %}
           {% capture nowdate %}{{'now' | date: '%s'}}{% endcapture %}
           {% capture postdate %}{{post.date | date: '%s'}}{% endcapture %}
           {% if nowdate < postdate %}
           <li class="page_item page-item-818">
              <h3>{% if post.track %}<img align="left" src="images/tracks/{{ post.track }}.png">{% endif %}{% if post.icon %}<img align="left" src="images/seminars/{{ post.icon }}">{% endif %}<i class="fa fa-level-up"></i><a href="{{ post.url }}">"{{ post.title }}" by {{ post.speaker }} ({{ post.when }})</a></h3><br>
           </li>
           {% endif %}
        {% endfor %}
     </ul>
   </li>
</ul>

<br>

<h1 style="clear:both">Projects</h1>

{% for post in paginator.posts %}
   <li>
     <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
     <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
     <p>{% if post.description %}{{ post.description }}{% else %}{{ post.excerpt | strip_html }}{% endif %}</p>
   </li>
{% endfor %}

<div class="row-fluid"> <div class="col-md-12 timeline">			
	<div class="textwidget"><iframe src='//cdn.knightlab.com/libs/timeline/latest/embed/index.html?source=1G5DVDOKbufabUDVutUSIUT6u9SebDf8zPJQfAhG4a14&font=Arvo-PTSans&maptype=toner&lang=en&start_at_slide=12' frameborder='0'></iframe>
</div>