.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.vc-settings a:active,
.vc-settings h3:active,
.vc-settings a:focus,
.vc-settings h3:focus {
  outline: none;
}
.vc-settings label {
  padding: 0 0 5px 0;
}
.vc-settings label input {
  margin-top: -1px;
  margin-right: 5px;
}
.vc-settings .vc-settings-tab-content {
  display: none;
}
.vc-settings .vc-settings-tab-content.vc-settings-tab-content-active {
  display: block;
}
.vc-settings .vc-settings-tab-content p.submit {
  float: left;
}
.vc-settings .vc-settings-tab-content .vc-restore-button {
  margin: 23px 0 0 10px;
}
.vc-settings .vc-settings-tab-content .css-control,
.vc-settings .vc-settings-tab-content .wp-picker-container {
  opacity: 0.5;
}
.vc-settings .vc-settings-tab-content.color_enabled .css-control,
.vc-settings .vc-settings-tab-content.color_enabled .wp-picker-container {
  opacity: 1;
}
.vc-settings .vc-settings-tab-content .column_css_class {
  margin-bottom: 6px;
}
.vc-settings .vc-settings-tab-content .column_css_class label {
  width: 60px;
  display: inline-block;
}
.vc-settings .custom_css {
  width: 100%;
  height: 200px;
}
.vc-settings .vc_helper {
  display: none;
}
.vc-settings .tab_intro {
  padding: 15px 10px 0 10px;
}
.vc-settings .deprecated {
  background-color: #ffffe0;
  border-bottom-color: #e6db55;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #e6db55;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #e6db55;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #e6db55;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-style: solid;
  border-top-width: 1px;
  color: #333333;
  display: block;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 16.796875px;
  margin-bottom: 15px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 15px;
  outline-color: #333333;
  outline-style: none;
  outline-width: 0px;
  padding-bottom: 0px;
  padding-left: 7.1875px;
  padding-right: 7.1875px;
  padding-top: 0px;
}
.vc-settings .vc_show_example {
  cursor: pointer;
}
.vc-settings #wpb_js_settings_access_groups h3 {
  margin-top: 0;
}
.vc-settings #wpb_js_settings_access_groups .settings-block,
.vc-settings #wpb_js_settings_access_groups .title {
  margin-bottom: 10px;
}
.vc-settings #wpb_js_settings_access_groups .pull-left {
  float: left;
  width: 33%;
}
.vc-settings #wpb_js_settings_access_groups .pull-left label {
  clear: both;
  display: block;
  float: left;
}
.vc-settings #wpb_js_settings_access_groups .select-all {
  margin-top: 10px;
}
